body {
    margin: 40px 24px;
    background: #ffffff;
    font-family: Arial;
}

h1 {
    color: #3a3a3a;
    font-size: 28px;
}

h2 {
    color: #8EC63F;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0px;
}

h3 {
    color: #3393ec;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 5px;
    text-decoration: underline;
}

P {
    color: #414141;
    font-size: 13px;
    margin-top: 4px;
}